
# Exclude raw data but retain README landing pad
downloads/
!downloads/README.md

# Exclude transformed data but retain README landing pad
transformed/
!./transformed/README.md

# Mac OS X files
.DS_Store
